<a href="https://colab.research.google.com/github/zzhenxi/CP2/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ Î™®Îìà ÎßåÎìúÎäî ÏûëÏóÖÏ§ë...

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_excel("/content/drive/MyDrive/my_dataset/AIB_PJ2/M_-__.xlsx", keep_default_na=False)

In [ ]:
data.head()

             ÎÇ†Ïßú     ÏãúÍ∞Ñ ÌöåÏõê ÏΩîÎìú        ÎåÄÌôî ÎÇ¥Ïö© ÌååÏùº(ÏòÅÏÉÅ, ÏùåÏÑ±), ÏÇ¨ÏßÑ Ïó¨Î∂Ä Í∏çÏ†ï/Î∂ÄÏ†ï Ïó¨Î∂Ä
0  Jul 12, 2021         VAYA
1                20:39  KAMF   ÎãòÏù¥ Ï∞∏Ïó¨ÌñàÏäµÎãàÎã§.
2                20:40  KAMF        ÏÇ¨ÎûëÌï¥Ïöîüñ§
3                20:40  MLSC   ÎãòÏù¥ Ï∞∏Ïó¨ÌñàÏäµÎãàÎã§.
4                20:41  ZSOS   ÎãòÏù¥ Ï∞∏Ïó¨ÌñàÏäµÎãàÎã§.

## ÏÖÄÎüΩ ÏπºÎüº ÎßåÎì§Í∏∞

In [ ]:
data.columns

Index(['ÎÇ†Ïßú', 'ÏãúÍ∞Ñ', 'ÌöåÏõê ÏΩîÎìú', 'ÎåÄÌôî ÎÇ¥Ïö©', 'ÌååÏùº(ÏòÅÏÉÅ, ÏùåÏÑ±), ÏÇ¨ÏßÑ Ïó¨Î∂Ä', 'Í∏çÏ†ï/Î∂ÄÏ†ï Ïó¨Î∂Ä'], dtype='object')

In [ ]:
from numpy.core.numeric import NaN
# Î®ºÏ†Ä ÎåÄÌôî ÎÇ¥Ïö©ÏùÑ Ï†úÏô∏Ìïú ÌñâÎì§ Ï∂îÏ∂ú 
filter1 = data[(data['ÎÇ†Ïßú'] != '') & (data['ÌöåÏõê ÏΩîÎìú'] != '')]

In [ ]:
filter1[filter1['ÌöåÏõê ÏΩîÎìú'] != 'NaN']

                 ÎÇ†Ïßú ÏãúÍ∞Ñ ÌöåÏõê ÏΩîÎìú ÎåÄÌôî ÎÇ¥Ïö© ÌååÏùº(ÏòÅÏÉÅ, ÏùåÏÑ±), ÏÇ¨ÏßÑ Ïó¨Î∂Ä Í∏çÏ†ï/Î∂ÄÏ†ï Ïó¨Î∂Ä
0      Jul 12, 2021     VAYA
244    Jul 13, 2021      NaN
473    Jul 14, 2021      NaN
583    Jul 15, 2021      NaN
684    Jul 16, 2021      NaN
...             ... ..   ...   ...               ...      ...
10617  Aug 14, 2021      NaN
10623  Aug 16, 2021      NaN
10628  Aug 17, 2021      NaN
10633  Aug 18, 2021      NaN
10638  Aug 19, 2021      NaN

[301 rows x 6 columns]

In [ ]:
filter1_2 = filter1.dropna()

In [ ]:
# ÏÖÄÎüΩ Í≥ÑÏ†ï Ïàò
len(filter1_2)

12

In [ ]:
# Ï§ëÎ≥µ ÏûàÏùå 
filter1_2

                 ÎÇ†Ïßú ÏãúÍ∞Ñ ÌöåÏõê ÏΩîÎìú ÎåÄÌôî ÎÇ¥Ïö© ÌååÏùº(ÏòÅÏÉÅ, ÏùåÏÑ±), ÏÇ¨ÏßÑ Ïó¨Î∂Ä Í∏çÏ†ï/Î∂ÄÏ†ï Ïó¨Î∂Ä
0      Jul 12, 2021     VAYA
3082    Jul 9, 2021     WKDG
4840    Jul 8, 2021     XMSQ
7167   Jun 12, 2021     CJSL
8933    Jul 6, 2021     DQZB
9058    Jul 9, 2021     DQZB
9231   Jul 30, 2021     DQZB
9279    Jul 7, 2021     JLDN
10234   Jul 8, 2021     OSQR
10341  Aug 13, 2021     JSEU
10398   Aug 9, 2021     LOVM
10495   Aug 7, 2021     JOPU

In [ ]:
# Ï§ëÎ≥µ ÏóÜÏï†Í∏∞ 
filter1_2_dropdu = filter1_2.drop_duplicates(['ÌöåÏõê ÏΩîÎìú'])

In [ ]:
filter1_2_dropdu

                 ÎÇ†Ïßú ÏãúÍ∞Ñ ÌöåÏõê ÏΩîÎìú ÎåÄÌôî ÎÇ¥Ïö© ÌååÏùº(ÏòÅÏÉÅ, ÏùåÏÑ±), ÏÇ¨ÏßÑ Ïó¨Î∂Ä Í∏çÏ†ï/Î∂ÄÏ†ï Ïó¨Î∂Ä
0      Jul 12, 2021     VAYA
3082    Jul 9, 2021     WKDG
4840    Jul 8, 2021     XMSQ
7167   Jun 12, 2021     CJSL
8933    Jul 6, 2021     DQZB
9279    Jul 7, 2021     JLDN
10234   Jul 8, 2021     OSQR
10341  Aug 13, 2021     JSEU
10398   Aug 9, 2021     LOVM
10495   Aug 7, 2021     JOPU

In [ ]:
# ÏÖÄÎüΩ Ïàò Îã§Ïãú Íµ¨Ìï¥Î¥§Îã§. (Ïûò ÎÇòÏò¥)
len(filter1_2_dropdu)

10

In [ ]:
filter1_2_dropdu = filter1_2_dropdu[['ÎÇ†Ïßú', 'ÌöåÏõê ÏΩîÎìú']]

In [ ]:
filter1_2_dropdu

                 ÎÇ†Ïßú ÌöåÏõê ÏΩîÎìú
0      Jul 12, 2021  VAYA
3082    Jul 9, 2021  WKDG
4840    Jul 8, 2021  XMSQ
7167   Jun 12, 2021  CJSL
8933    Jul 6, 2021  DQZB
9279    Jul 7, 2021  JLDN
10234   Jul 8, 2021  OSQR
10341  Aug 13, 2021  JSEU
10398   Aug 9, 2021  LOVM
10495   Aug 7, 2021  JOPU

### ÌäπÏ†ï ÏÖÄÎüΩÏóê ÎåÄÌïú ÎÇ¥Ïö©Ïù¥ ÏãúÏûëÌïòÎäî part Ï∞æÍ∏∞

In [ ]:
# Î®ºÏ†Ä ÎÇ†ÏßúÏôÄ ÌöåÏõêÏΩîÎìúÍ∞Ä Îì§Ïñ¥Í∞Ñ ÌäúÌîå Î¶¨Ïä§Ìä∏Î•º ÎßåÎì§Ïñ¥ Ï§çÎãàÎã§.

In [ ]:
celeb_list = []
celeb_index_list = []
for index, row in filter1_2_dropdu.iterrows():
  celeb_list.append((row['ÎÇ†Ïßú'], row['ÌöåÏõê ÏΩîÎìú']))
  celeb_index_list.append(index)

In [ ]:
celeb_list

[('Jul 12, 2021', 'VAYA'),
 ('Jul 9, 2021', 'WKDG'),
 ('Jul 8, 2021', 'XMSQ'),
 ('Jun 12, 2021', 'CJSL'),
 ('Jul 6, 2021', 'DQZB'),
 ('Jul 7, 2021', 'JLDN'),
 ('Jul 8, 2021', 'OSQR'),
 ('Aug 13, 2021', 'JSEU'),
 ('Aug 9, 2021', 'LOVM'),
 ('Aug 7, 2021', 'JOPU')]

In [ ]:
celeb_index_list

[0, 3082, 4840, 7167, 8933, 9279, 10234, 10341, 10398, 10495]

### celeb Ïª¨Îüº ÎßåÎì§Ïñ¥ Ï£ºÍ∏∞

In [ ]:
# Î¶¨Ïä§Ìä∏Î•º ÎßåÎì§Ïñ¥ Ï§¨ÏúºÎãà dataÏóê Ïª¨ÎüºÏùÑ ÎßåÎì§Ïñ¥ Î≥¥Í≤†ÏäµÎãàÎã§.

In [ ]:
plus_celeb = data

In [ ]:
plus_celeb

                 ÎÇ†Ïßú  ... ÌååÏùº(ÏòÅÏÉÅ, ÏùåÏÑ±), ÏÇ¨ÏßÑ Ïó¨Î∂Ä
0      Jul 12, 2021  ...
1                    ...
2                    ...
3                    ...
4                    ...
...             ...  ...               ...
10635                ...
10636                ...
10637                ...
10638  Aug 19, 2021  ...
10639                ...

[10640 rows x 5 columns]

In [ ]:
# ÌïÑÏöîÏóÜÎäî Ïó¥ Ï†ïÎ¶¨ (Ïù¥Í±¥ ÎÇ¥Í∞Ä Îç∞Ïù¥ÌÑ∞ ÏûòÎ™ª Í∞ÄÏ†∏ÏôÄÏÑú ÏûÑÏùòÎ°ú Ï†ïÎ¶¨Ìï¥Ï§Ä Í≤É)
# plus_celeb = plus_celeb.drop(columns = ['Í∏çÏ†ï/Î∂ÄÏ†ï Ïó¨Î∂Ä'])

In [ ]:
plus_celeb['celeb'] = ''

In [ ]:
plus_celeb # celeb Ïó¥Ïù¥ Ï∂îÍ∞ÄÎêòÏóàÏùå

                 ÎÇ†Ïßú     ÏãúÍ∞Ñ  ... ÌååÏùº(ÏòÅÏÉÅ, ÏùåÏÑ±), ÏÇ¨ÏßÑ Ïó¨Î∂Ä celeb
0      Jul 12, 2021         ...
1                    20:39  ...
2                    20:40  ...
3                    20:40  ...
4                    20:41  ...
...             ...    ...  ...               ...   ...
10635                17:38  ...
10636                18:03  ...
10637                18:15  ...
10638  Aug 19, 2021         ...
10639                02:43  ...

[10640 rows x 6 columns]

In [ ]:
plus_celeb.loc[0:3082, ['celeb']] = 1

In [ ]:
plus_celeb

                 ÎÇ†Ïßú     ÏãúÍ∞Ñ  ... ÌååÏùº(ÏòÅÏÉÅ, ÏùåÏÑ±), ÏÇ¨ÏßÑ Ïó¨Î∂Ä celeb
0      Jul 12, 2021         ...                       1
1                    20:39  ...                       1
2                    20:40  ...                       1
3                    20:40  ...                       1
4                    20:41  ...                       1
...             ...    ...  ...               ...   ...
10635                17:38  ...
10636                18:03  ...
10637                18:15  ...
10638  Aug 19, 2021         ...
10639                02:43  ...

[10640 rows x 6 columns]

In [ ]:
# ÏÖÄÎ†ô Ïù¥Î¶Ñ Î∂ôÏó¨Ï£ºÍ∏∞ ÏúÑÌïú ÏΩîÎìú (indexÍ∞Ä ÎÅùÍπåÏßÄ ÏûàÏñ¥Ïïº Î≤îÏúÑ ÏÑ§Ï†ï Í∞ÄÎä•!)
index_with_last = celeb_index_list
index_with_last.append(len(plus_celeb)-1)

In [ ]:
index_with_last

[0, 3082, 4840, 7167, 8933, 9279, 10234, 10341, 10398, 10495, 10639]

Ìó∑Í∞àÎ¶¥ÍπåÎ¥ê Í∏∞Î°ù   
index_with_lastÎäî celecÏª¨ÎüºÏóê ÏÖÄÎüΩ Ïù¥Î¶Ñ Ï∂îÍ∞ÄÌï¥Ï£ºÍ∏∞ ÏúÑÌï¥ ÎßåÎì† Î¶¨Ïä§Ìä∏Ïù¥Í≥†, celeb_index_listÎäî Ìï¥Îãπ ÏÖÄÎüΩÏùò ÎåÄÌôîÎ∞© ÏãúÏûëÏùÑ Í∞ÄÎ¶¨ÌÇ§Îäî Ïù∏Îç±Ïä§ Î¶¨Ïä§Ìä∏Ïù¥Îã§.

In [ ]:
for i in range(len(index_with_last)-1):
  index_from = index_with_last[i] # 3082
  index_to = index_with_last[i+1] # 4840
  who = celeb_list[i][1] # ÏÖÄÎüΩ ÎàÑÍµ¨Ïù∏ÏßÄ iÎäî indexÎßå Î™®ÏïÑÎÜìÏùÄ listÏùò ÏàúÏÑú(ÎÑòÎ≤Ñ)Î•º ÎßêÌï®. 
  plus_celeb.loc[index_from+1:index_to, ['celeb']] = who # 0ÏóêÏÑú 3081ÍπåÏßÄ celebÏó¥ Í∞íÏóê who(ÏÖÄÎüΩ Ïù¥Î¶Ñ) Ï∂îÍ∞Ä

In [ ]:
plus_celeb

                 ÎÇ†Ïßú     ÏãúÍ∞Ñ  ... ÌååÏùº(ÏòÅÏÉÅ, ÏùåÏÑ±), ÏÇ¨ÏßÑ Ïó¨Î∂Ä celeb
0      Jul 12, 2021         ...                    VAYA
1                    20:39  ...                    VAYA
2                    20:40  ...                    VAYA
3                    20:40  ...                    VAYA
4                    20:41  ...                    VAYA
...             ...    ...  ...               ...   ...
10635                17:38  ...                    JOPU
10636                18:03  ...                    JOPU
10637                18:15  ...                    JOPU
10638  Aug 19, 2021         ...                    JOPU
10639                02:43  ...                    JOPU

[10640 rows x 6 columns]