<a href="https://colab.research.google.com/github/zzhenxi/CP2/blob/main/jh_%EC%8B%9C%EA%B0%81%ED%99%94(%EC%9E%91%EC%97%85%EC%A4%91).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ì‘ì—… ëª©ë¡ 

1.  **ì…€ëŸ½ì´ ì–´ë–»ê²Œ í™œë™í•´ì•¼ íŒ¬ë“¤ì´ ì¢‹ì•„í•˜ëŠ”ì§€ ë¶„ì„**
    - ìƒìœ„ ní¼ì„¼íŠ¸ì— ì†í•˜ëŠ” ì…€ëŸ½ì— ëŒ€í•œ ë¶„ì„ê³¼ ì‹œê°í™” ìë£Œ
        
        `ê·¸ë˜í”„ë¡œ (ì§ê´€ì ìœ¼ë¡œ) ë³´ì—¬ì£¼ëŠ” ê²ƒì— ì¤‘ì `
        
        - ì…€ëŸ½ì´ ë¨¼ì € ëŒ€í™”ë¥¼ ì‹œì‘í•œ ê²½ìš° ë¹„ìœ¨ (ë‚ ì§œë³„ë¡œ)
        - ì…€ëŸ½ì˜ íƒœë„ì— ë”°ë¥¸ ì‹œê°„ì˜ íë¦„ì— ë”°ë¥¸ ê¸ì •ë„ ë³€í™”ì˜ ì‹œê°í™”
        - ì‹œê°„ì˜ íë¦„ì— ë”°ë¥¸ ì…€ëŸ½ì˜ ë§ì— ëŒ€í•œ íŒ¬ì˜ ì‘ë‹µë¥ 
            
            â†’ ì´ë ‡ê²Œ í–ˆë”ë‹ˆ íŒ¬ì˜ ì‘ë‹µë¥ ì´ ì˜¬ë¼ê°”ë‹¤ê³  ì œì‹œí•˜ê¸° ìœ„í•¨
            
        - ì‹œê°„ì˜ íë¦„ì— ë”°ë¥¸ ê¸ì •ë„ ë³€í™” ì„ ê·¸ë˜í”„
            
             â†’ ì´ë ‡ê²Œ í–ˆë”ë‹ˆ íŒ¬ì˜ ê¸ì •ë„ê°€ ì˜¬ë¼ê°”ë‹¤ê³  ì œì‹œí•˜ê¸° ìœ„í•¨

## ë°ì´í„° ê°€ì ¸ì˜¤ê¸°
- data : ëª¨ë“  ë°ì´í„° ëª©ë¡

In [1]:
import pandas as pd 
import numpy as np
import matplotlib as plt

In [2]:
#êµ¬ê¸€ë“œë¼ì´ë¸Œ ì—°ë™
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_csv("/content/drive/MyDrive/AIB_PJ2/dataset/fancimm_data.csv")

In [4]:
data

            date   time  ... file label
0      12-Jul-21  20:39  ...  NaN   1.0
1      12-Jul-21  20:40  ...  NaN   2.0
2      12-Jul-21  20:40  ...  NaN   1.0
3      12-Jul-21  20:41  ...  NaN   1.0
4      12-Jul-21  20:41  ...  NaN   1.0
...          ...    ...  ...  ...   ...
10324  18-Aug-21   8:56  ...  NaN   1.0
10325  18-Aug-21  17:38  ...  NaN   1.0
10326  18-Aug-21  18:03  ...  NaN   1.0
10327  18-Aug-21  18:15  ...  NaN   1.0
10328  19-Aug-21   2:43  ...  NaN   2.0

[10329 rows x 7 columns]

In [5]:
data_info = pd.read_excel("/content/drive/MyDrive/AIB_PJ2/dataset/á„€á…¨á„Œá…¥á†¼ á„Œá…¥á†¼á„‡á…© á„†á…µá†¾ á„‰á…¥á†¯á„†á…®á†«á„Œá…©á„‰á…¡.xlsx", sheet_name="ê³„ì • ì •ë³´", keep_default_na=False)

In [6]:
data_surv = pd.read_excel("/content/drive/MyDrive/AIB_PJ2/dataset/á„€á…¨á„Œá…¥á†¼ á„Œá…¥á†¼á„‡á…© á„†á…µá†¾ á„‰á…¥á†¯á„†á…®á†«á„Œá…©á„‰á…¡.xlsx", sheet_name="ì„¤ë¬¸ì¡°ì‚¬", keep_default_na=False)

## ë°ì´í„° ì „ì²˜ë¦¬

### data_info   
- data_info -> celeb_li, user_li

In [7]:
data_info

   ì…€ëŸ½ ê³„ì • í…ŒìŠ¤íŠ¸ ê³„ì •
0   VAYA   BYZG
1   WKDG   XPBD
2   XMSQ   YQVX
3   CJSL   YSUL
4   DQZB   RLGI
5   JLDN   QOGI
6   OSQR   IYWE
7   JSEU   MDYT
8   LOVM   SLYG
9   JOPU   SNLX
10         CNIZ
11         XXXJ
12         RCXT
13         NHUZ
14         BPQW
15         ENSD
16         SVPF
17         XNYQ

In [8]:
# ê°ê° ê³„ì • ë¦¬ìŠ¤íŠ¸ ì•ˆì— ë„£ê¸° 
celeb_li = list(np.array(data_info['ì…€ëŸ½ ê³„ì •'].to_list()))
celeb_li = [id for id in celeb_li if id != ''] # ê³µë°± ì—†ì• ê¸°, user_liì˜ ê²½ìš° ê³µë°±ì€ ì—†ì„ í™•ë¥ ì´ ë†’ìœ¼ë¯€ë¡œ ë”°ë¡œ ì½”ë“œ ì¶”ê°€ x

user_li = list(np.array(data_info['í…ŒìŠ¤íŠ¸ ê³„ì •'].to_list()))

### data_surv
- ì¶”ì²œì ìˆ˜ ë¶€ë¶„ì´ ì—†ëŠ”, ê³µë°±(null)ê°’ì„ í¬í•¨í•œ í–‰ ì œê±°
- ì…€ëŸ½ë³„ / ìœ ì €ë³„ survey ë¶„ë¦¬
- data_surv_score : ì¶”ì²œ ì ìˆ˜ê°€ ìˆëŠ” í•­ëª©
- data_surv_pay : ì–¼ë§ˆ ë‚¼ ì˜í–¥ì¸ì§€ ê°€ê²©ì´ ìˆëŠ” í•­ëª©

In [9]:
data_surv.columns

Index(['ì½”ë“œ', 'ì¶”ì²œ ì ìˆ˜', 'ì ìˆ˜ ì´ìœ ', 'ì§€ë¶ˆ ì˜ì‚¬ ê¸ˆì•¡', 'í”Œë«í¼ ìˆ˜ìˆ˜ë£Œ', 'ì¶”ê°€ ìš”ì²­ ê¸°ëŠ¥', 'ê¸°íƒ€ ì˜ê²¬'], dtype='object')

In [10]:
data_surv_score = data_surv[data_surv['ì¶”ì²œ ì ìˆ˜'] != '']

In [11]:
data_surv_score.head()

     ì½”ë“œ  ...                                              ê¸°íƒ€ ì˜ê²¬
0  KAMF  ...                                                  ë„¹
1  MLSC  ...  ì•±ì´ ë§ì´ ëŠë ¤ì„œ ì‹¤í–‰í•˜ë©´ ê¸°ë‹¤ë¦¼ì´ ì¦ê³ , ì…€ëŸ½ì´ ë©”ì‹œì§€ë¥¼ ë³´ë‚´ë„ ì•Œë¦¼ì´ ì•ˆ ë– ìš”....
2  ZSOS  ...              ëŒ€í™”ë‚´ìš©ì´ ì‚¬ë¼ì§€ê±°ë‚˜ ì•ŒëŒì´ ëŠ¦ê²Œ ì˜¤ëŠ” ì˜¤ë¥˜ë“¤ë§Œ ì—†ì–´ì§€ë©´ ì¢‹ê² ìŠµë‹ˆë‹¤
3  GUKR  ...        ì…€ë ë°©ì— ëŒ€í™” ë‚´ìš©ì„ ì‚´í´ë³´ë ¤ê³  ë‚´ë¦¬ë©´ ëŒ€í™”ë‚´ìš©ì´ ì•ˆ ë³´ì´ëŠ” ê²½ìš°ê°€ ìˆì–´ìš”
4  VAYA  ...                   íŒ¬ë“¤ê³¼ ì†Œí†µì„ ì¤‘ìš”í•˜ê²Œ ìƒê°í•˜ëŠ” ì…€ëŸ½ë“¤ì—ê² ë˜ê²Œ ì¢‹ì€ ì–´í”Œ

[5 rows x 7 columns]

In [12]:
data_surv_pay = data_surv[data_surv['ì§€ë¶ˆ ì˜ì‚¬ ê¸ˆì•¡'] != '']

In [13]:
data_surv_pay.head()

     ì½”ë“œ  ...                                              ê¸°íƒ€ ì˜ê²¬
0  KAMF  ...                                                  ë„¹
1  MLSC  ...  ì•±ì´ ë§ì´ ëŠë ¤ì„œ ì‹¤í–‰í•˜ë©´ ê¸°ë‹¤ë¦¼ì´ ì¦ê³ , ì…€ëŸ½ì´ ë©”ì‹œì§€ë¥¼ ë³´ë‚´ë„ ì•Œë¦¼ì´ ì•ˆ ë– ìš”....
2  ZSOS  ...              ëŒ€í™”ë‚´ìš©ì´ ì‚¬ë¼ì§€ê±°ë‚˜ ì•ŒëŒì´ ëŠ¦ê²Œ ì˜¤ëŠ” ì˜¤ë¥˜ë“¤ë§Œ ì—†ì–´ì§€ë©´ ì¢‹ê² ìŠµë‹ˆë‹¤
3  GUKR  ...        ì…€ë ë°©ì— ëŒ€í™” ë‚´ìš©ì„ ì‚´í´ë³´ë ¤ê³  ë‚´ë¦¬ë©´ ëŒ€í™”ë‚´ìš©ì´ ì•ˆ ë³´ì´ëŠ” ê²½ìš°ê°€ ìˆì–´ìš”
4  VAYA  ...                   íŒ¬ë“¤ê³¼ ì†Œí†µì„ ì¤‘ìš”í•˜ê²Œ ìƒê°í•˜ëŠ” ì…€ëŸ½ë“¤ì—ê² ë˜ê²Œ ì¢‹ì€ ì–´í”Œ

[5 rows x 7 columns]

## ìƒìœ„ n í¼ì„¼íŠ¸ì˜ ì…€ëŸ½ ëª©ë¡, íŒ¬ì˜ ìˆ«ì 
- ìƒìœ„ nê°œì˜ ì…€ëŸ½ ì •í•˜ëŠ” ê¸°ì¤€ 
- ëŒ€í™”ë°©ì—ì„œ íŒ¬ì˜ ìˆ˜ ë°©ì˜ ì°¸ì—¬ì ë§Œì¡±ë„ê°€ ë†’ì€ ìˆœ(ì…€ëŸ½, íŒ¬ í•©ì³ì„œ) / ë°©ì˜ í™œì„±í™” ìˆœì„œ (ì¸ë‹¹ ëŒ€í™”ê°€ ë§ì€ ìˆœì„œ) (ì „ì²´ ëŒ€í™” / ì°¸ì—¬ììˆ˜) / ë°©ì˜ ë¶€ì •ë„ê°€ ê°€ì¥ ë‚®ì€

### 1. ì°¸ì—¬ë„ê°€ ë†’ì€ ë°© ìˆœì„œ
- top10_li

In [14]:
### ìš°ì„  ì„ì‹œë¡œ ìƒìœ„ 10ê°œ
### ë‚˜ì¤‘ì— ë°ì´í„° ì¶”ê°€ë˜ë©´,, ìƒìœ„ ní¼ì„¼íŠ¸ë¡œ ë°”ê¾¸ê±°ë‚˜ í•´ë„ ì¢‹ì„ë“¯

In [15]:
data

            date   time  ... file label
0      12-Jul-21  20:39  ...  NaN   1.0
1      12-Jul-21  20:40  ...  NaN   2.0
2      12-Jul-21  20:40  ...  NaN   1.0
3      12-Jul-21  20:41  ...  NaN   1.0
4      12-Jul-21  20:41  ...  NaN   1.0
...          ...    ...  ...  ...   ...
10324  18-Aug-21   8:56  ...  NaN   1.0
10325  18-Aug-21  17:38  ...  NaN   1.0
10326  18-Aug-21  18:03  ...  NaN   1.0
10327  18-Aug-21  18:15  ...  NaN   1.0
10328  19-Aug-21   2:43  ...  NaN   2.0

[10329 rows x 7 columns]

In [16]:
# ëŒ€í™”ë°© ì°¸ì—¬ìê°€ ì´ ëª‡ëª…ì¸ì§€ ì–´ë–»ê²Œ ì•Œì•„ë‚¼ê¹Œ? -> celebë³„ ëŒ€í™” ì°¸ì—¬ì uniqueê°’ ì°¾ê¸°, ì´ ì°¸ì—¬ì ìˆ˜
data.groupby('celeb')

In [17]:
# celeb unique ê°’ ì°¾ê¸° # ë”°ë¡œ ë°›ì€ celeb_liì™€ ìˆœì„œì™€ ë‚´ìš©ì´ ê°™ìŒ.
# a = list(data['celeb'].unique())
# ë”°ë¼ì„œ êµ³ì´ ë”°ë¡œ êµ¬í•  í•„ìš” ì—†ìŒ -> ì´ê±´ ë‚˜ì¤‘ì— í•„ìš”í• ë•Œ ë‹¤ì‹œ í™œìš©

In [18]:
# ì…€ëŸ½ë³„ ëŒ€í™”ë°© ì°¸ì—¬ì ì´ ëª‡ëª… (unique)
user_dic = {} # [celeb : ìœ ì €ë“¤ unique ê°’ ë¦¬ìŠ¤íŠ¸]
for id in celeb_li:
  val = list(data[data['celeb'] == id]['code'].unique())
  user_dic[id] = val

In [19]:
# ì…€ëŸ½ë³„ ëŒ€í™” ì´ ëª‡ê°œ 
com_dic = {} # [celeb : ìœ ì €ë“¤ comments ê°œìˆ˜]
for id in celeb_li:
  val = len(data[data['celeb'] == id]['comments'])
  com_dic[id] = val

In [20]:
# ì…€ëŸ½ë³„ ëŒ€í™”ë°© í™œì„±í™” ì •ë„
act_dic = {} # ì–¼ë§ˆë‚˜ acitve í•œì§€ 
for id in celeb_li:
  user_num = len(user_dic[id]) # user_num : ìœ ì € ëª‡ëª…?
  com_num = com_dic[id] # com_num : comments ëª‡ê°œ?
  act_dic[id] = round(com_num/user_num, 3) # ìœ ì € / ì´ ëŒ€í™” ìˆ˜ë¡œ acitveí•œ ì •ë„ë¥¼ êµ¬í•´ì¤ë‹ˆë‹¤.

In [21]:
# act_dicì„ ë°”íƒ•ìœ¼ë¡œ ìƒìœ„ n í¼ì„¼íŠ¸ë¥¼ êµ¬í•©ë‹ˆë‹¤. 
act_dic

{'CJSL': 31.426,
 'DQZB': 10.467,
 'JLDN': 26.143,
 'JOPU': 16.875,
 'JSEU': 4.9,
 'LOVM': 17.6,
 'OSQR': 5.867,
 'VAYA': 126.792,
 'WKDG': 51.97,
 'XMSQ': 73.71}

In [22]:
# dictionary activeê°€ ë†’ì€ ìˆœì„œëŒ€ë¡œ ë§Œë“¤ê¸° 
sorted_dict = {}
for k, v in sorted(act_dic.items(), key = lambda item: item[1], reverse = True):
  sorted_dict[k] = v

# ì½”ë“œ ì°¸ê³  https://codechacha.com/ko/python-sorting-dict/

In [23]:
# top 10 celeb list
top10_li = list(sorted_dict.keys())[:10]

In [24]:
top10_li

['VAYA',
 'XMSQ',
 'WKDG',
 'CJSL',
 'JLDN',
 'LOVM',
 'JOPU',
 'DQZB',
 'OSQR',
 'JSEU']

### ë§Œì•½ ë°ì´í„° ì „ì²˜ë¦¬ê°€ ì˜ ë˜ì—ˆë‹¤ë©´ ì´ ë¶€ë¶„ì€ ê±´ë„ˆë›°ì–´ë„ ë©ë‹ˆë‹¤.

In [25]:
data

            date   time  ... file label
0      12-Jul-21  20:39  ...  NaN   1.0
1      12-Jul-21  20:40  ...  NaN   2.0
2      12-Jul-21  20:40  ...  NaN   1.0
3      12-Jul-21  20:41  ...  NaN   1.0
4      12-Jul-21  20:41  ...  NaN   1.0
...          ...    ...  ...  ...   ...
10324  18-Aug-21   8:56  ...  NaN   1.0
10325  18-Aug-21  17:38  ...  NaN   1.0
10326  18-Aug-21  18:03  ...  NaN   1.0
10327  18-Aug-21  18:15  ...  NaN   1.0
10328  19-Aug-21   2:43  ...  NaN   2.0

[10329 rows x 7 columns]

In [26]:
data['label'] = data['label'].dropna()

In [27]:
data['label'].value_counts()

1.0    7896
2.0    2340
0.0      90
Name: label, dtype: int64

In [28]:
# data['label'] = data['label'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer ê°€ ë°œìƒ

fillnaë¡œ í•´ê²°

In [29]:
data['label'] = data['label'].fillna(9) # ìš°ì„  9ë¡œ naê°’ì„ ëŒ€ì²´ 
index1 = data[data['label']==9].index # label ê°’ì´ 9ì¸ í–‰ indexë¥¼ ì¶”ì¶œ
data = data.drop(index1) # í•´ë‹¹í•˜ëŠ” indexë¥¼ drop

In [30]:
# ë§ˆì§€ë§‰ìœ¼ë¡œ label í–‰ì„ intë¡œ ë°”ê¿”ì¤€ë‹¤.
data['label'] = data['label'].astype(int)

### 2. ë¶€ì •ë„ê°€ ë‚®ì€ ë°© ìˆœì„œ
- top10_li

In [72]:
a = data.groupby(['celeb', 'label']).count()

In [73]:
# data_012ëŠ” ì…€ëŸ½ì— ë”°ë¼ 0ì´ ëª‡ê°œ, 1ì´ ëª‡ê°œ, 2ê°€ ëª‡ê°œì¸ì§€ ì •ë¦¬í•´ë†“ì€ dataframe
data_012 = a[['date']]

In [74]:
data_012

             date
celeb label
CJSL  0        11
      1      1565
      2       121
DQZB  0         4
      1       294
      2        16
JLDN  0         7
      1       811
      2        96
JOPU  0         2
      1       116
      2        17
JSEU  0         9
      1        37
      2         3
LOVM  1        86
      2         2
OSQR  0         4
      1        77
      2         7
VAYA  0        28
      1      1379
      2      1636
WKDG  0        17
      1      1464
      2       233
XMSQ  0         8
      1      2067
      2       209

In [75]:
list(data_012.loc['CJSL'].index)

[0, 1, 2]

In [76]:
# pivot_tableë¡œ ë³´ê¸° í¸í•˜ê²Œ ë°”ê¿”ì£¼ê¸° / 0ì´ ì—†ëŠ” ê³³ì€ 0.001ìœ¼ë¡œ ìë¦¬ ìë™ìœ¼ë¡œ ë©”ê¿”ì¤Œ (fill_value) 
# 0.0001ë¡œ ë©”ê¿”ì£¼ëŠ” ì´ìœ  : ë¶€ì •ë„ê°€ 0ì´ë©´, ì´í•©ì— ë‚˜ëˆ„ê¸°ë¥¼ í•  ìˆ˜ê°€ ì—†ìœ¼ë¯€ë¡œ ìµœëŒ€í•œ ì‘ì€ ìˆ˜ë¡œ ë‚˜ëˆ ì¤˜ì„œ ì ìˆ˜ë¥¼ ì˜¬ë ¤ì¤Œ
data_012 = pd.pivot_table(data_012,
                       index='celeb',
                       columns='label',
                       fill_value = 0.001)

In [77]:
# ë©€í‹° ì¸ë±ìŠ¤ í•´ì œ - ì»¬ëŸ¼ëª… ìˆ˜ì •
data_012.columns = [0, 1, 2]

In [78]:
data_012

            0     1     2
celeb
CJSL   11.000  1565   121
DQZB    4.000   294    16
JLDN    7.000   811    96
JOPU    2.000   116    17
JSEU    9.000    37     3
LOVM    0.001    86     2
OSQR    4.000    77     7
VAYA   28.000  1379  1636
WKDG   17.000  1464   233
XMSQ    8.000  2067   209

In [79]:
# ì´í•© ì»¬ëŸ¼
data_012['sum'] = data_012[[0, 1, 2]].sum(axis=1)
data_012

            0     1     2       sum
celeb
CJSL   11.000  1565   121  1697.000
DQZB    4.000   294    16   314.000
JLDN    7.000   811    96   914.000
JOPU    2.000   116    17   135.000
JSEU    9.000    37     3    49.000
LOVM    0.001    86     2    88.001
OSQR    4.000    77     7    88.000
VAYA   28.000  1379  1636  3043.000
WKDG   17.000  1464   233  1714.000
XMSQ    8.000  2067   209  2284.000

In [80]:
# ë¶€ì •ë„ ì»¬ëŸ¼ ì¶”ê°€ 
data_012['div'] = data_012['sum']/data_012[0]

In [81]:
data_012

            0     1     2       sum           div
celeb
CJSL   11.000  1565   121  1697.000    154.272727
DQZB    4.000   294    16   314.000     78.500000
JLDN    7.000   811    96   914.000    130.571429
JOPU    2.000   116    17   135.000     67.500000
JSEU    9.000    37     3    49.000      5.444444
LOVM    0.001    86     2    88.001  88001.000000
OSQR    4.000    77     7    88.000     22.000000
VAYA   28.000  1379  1636  3043.000    108.678571
WKDG   17.000  1464   233  1714.000    100.823529
XMSQ    8.000  2067   209  2284.000    285.500000

In [91]:
data_012 = data_012.sort_values(by=["div"], ascending=[False])

In [92]:
top10_li2 = list(data_012.index)[:10]

In [93]:
top10_li2

['LOVM',
 'XMSQ',
 'CJSL',
 'JLDN',
 'VAYA',
 'WKDG',
 'DQZB',
 'JOPU',
 'OSQR',
 'JSEU']

### 3, 1ì™€ 2ë²ˆ ì¡°í•©
- 1ë²ˆ : ìˆœìœ„ê°€ ë†’ì€ ìˆœì„œëŒ€ë¡œ 10ì ì”© ë¶€ê³¼ 
- 2ë²ˆ : ìˆœìœ„ê°€ ë†’ì€ ìˆœì„œëŒ€ë¡œ 8ì ì”© ë¶€ê³¼
- merged_top10

In [96]:
# í™œì„±í™” ì •ë„ 
top10_li1

['VAYA',
 'XMSQ',
 'WKDG',
 'CJSL',
 'JLDN',
 'LOVM',
 'JOPU',
 'DQZB',
 'OSQR',
 'JSEU']

In [98]:
# top10_li1 = top10_li

In [97]:
# ê¸ì •ë„ 
top10_li2

['LOVM',
 'XMSQ',
 'CJSL',
 'JLDN',
 'VAYA',
 'WKDG',
 'DQZB',
 'JOPU',
 'OSQR',
 'JSEU']

In [99]:
top10_li_1 = pd.DataFrame({'ID':top10_li1,
                             'score':[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]})
top10_li_2 = pd.DataFrame({'ID':top10_li2,
                             'score':[80, 72, 64, 56, 48, 40, 32, 24, 16, 8]})

In [100]:
top10_li_1

     ID  score
0  VAYA    100
1  XMSQ     90
2  WKDG     80
3  CJSL     70
4  JLDN     60
5  LOVM     50
6  JOPU     40
7  DQZB     30
8  OSQR     20
9  JSEU     10

In [101]:
top10_li_2

     ID  score
0  LOVM     80
1  XMSQ     72
2  CJSL     64
3  JLDN     56
4  VAYA     48
5  WKDG     40
6  DQZB     32
7  JOPU     24
8  OSQR     16
9  JSEU      8

In [108]:
merged_top10 = pd.merge(left = top10_li_1 , right = top10_li_2, how = "outer", on='ID')

In [109]:
merged_top10
# ì˜ˆì‹œì—ì„œëŠ” NaNê°’ì´ ë‚˜ì˜¤ì§€ ì•Šì§€ë§Œ ë§Œì•½ ë‚˜ì˜¤ëŠ” ê²½ìš°ì—ëŠ” ê²°ì¸¡ì¹˜ë¥¼ 0ìœ¼ë¡œ ëŒ€ì²´í•´ì£¼ê¸°!

     ID  score_x  score_y
0  VAYA      100       48
1  XMSQ       90       72
2  WKDG       80       40
3  CJSL       70       64
4  JLDN       60       56
5  LOVM       50       80
6  JOPU       40       24
7  DQZB       30       32
8  OSQR       20       16
9  JSEU       10        8

In [104]:
# ì ìˆ˜ ì´í•© 
merged_top10['sum'] = merged_top10['score_x']+merged_top10['score_y']

In [105]:
merged_top10

     ID  score_x  score_y  sum
0  VAYA      100       48  148
1  XMSQ       90       72  162
2  WKDG       80       40  120
3  CJSL       70       64  134
4  JLDN       60       56  116
5  LOVM       50       80  130
6  JOPU       40       24   64
7  DQZB       30       32   62
8  OSQR       20       16   36
9  JSEU       10        8   18

In [107]:
# (ìˆœìœ„ êµ¬í•˜ê¸° ë§ˆì§€ë§‰!!) sumê°’ì„ ê¸°ì¤€ìœ¼ë¡œ top ìˆœì„œ êµ¬í•˜ê¸°!!!
merged_top10 = merged_top10.sort_values(by=["sum"], ascending=[False]) 
merged_top10

     ID  score_x  score_y  sum
1  XMSQ       90       72  162
0  VAYA      100       48  148
3  CJSL       70       64  134
5  LOVM       50       80  130
2  WKDG       80       40  120
4  JLDN       60       56  116
6  JOPU       40       24   64
7  DQZB       30       32   62
8  OSQR       20       16   36
9  JSEU       10        8   18

### ì…€ëŸ½ì´ ë¨¼ì € ëŒ€í™”ë¥¼ ì‹œì‘í•œ ê²½ìš° ë¹„ìœ¨ (ë‚ ì§œë³„ë¡œ) ì•„ë˜êº¼ë‘ í•©ì¹œ ê·¸ë˜í”„ë©´ ì¢‹ì„ë“¯

In [112]:
# top10ì˜ IDë¥¼ listì•ˆì— ë„£ê¸°
top10_list = list(merged_top10['ID'])

In [ ]:
# ì²˜ìŒ dataframeì¸ dataì—ì„œ í•´ë‹¹ listì— ìˆëŠ” ì…€ëŸ½ë§Œ ìˆ˜ì§‘í•˜ê¸°

data_in_li =

In [113]:
data

            date   time  ... file label
0      12-Jul-21  20:39  ...  NaN     1
1      12-Jul-21  20:40  ...  NaN     2
2      12-Jul-21  20:40  ...  NaN     1
3      12-Jul-21  20:41  ...  NaN     1
4      12-Jul-21  20:41  ...  NaN     1
...          ...    ...  ...  ...   ...
10324  18-Aug-21   8:56  ...  NaN     1
10325  18-Aug-21  17:38  ...  NaN     1
10326  18-Aug-21  18:03  ...  NaN     1
10327  18-Aug-21  18:15  ...  NaN     1
10328  19-Aug-21   2:43  ...  NaN     2

[10326 rows x 7 columns]

### ì…€ëŸ½ì˜ íƒœë„ì— ë”°ë¥¸ ì‹œê°„ì˜ íë¦„ì— ë”°ë¥¸ ê¸ì •ë„ ë³€í™”ì˜ ì‹œê°í™”

### ì‹œê°„ì˜ íë¦„ì— ë”°ë¥¸ ì…€ëŸ½ì˜ ë§ì— ëŒ€í•œ íŒ¬ì˜ ì‘ë‹µë¥

### ì‹œê°„ì˜ íë¦„ì— ë”°ë¥¸ ê¸ì •ë„ ë³€í™” ì„ ê·¸ë˜í”„

## ìƒìœ„ ní¼ì„¼íŠ¸ ì™¸ ë‚˜ë¨¸ì§€

### ì–¼ë§ˆë¥¼ ë‚¼ ì˜í–¥ìˆì†Œ!ì˜ ë¹„ìœ¨ê³¼ ë§Œì¡±ë„ (í‰ê·  ì ìˆ˜, ì ìˆ˜ ë¹„ìœ¨)